<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string> 概述</string>
		<key>subtitle</key>
		<string></string>
		<key>code</key>
		<integer>0</integer>
		<key>image</key>
		<string></string>
		<key>submenu</key>
		<array>
			<dict>
				<key>title</key>
				<string>位置</string>
				<key>subtitle</key>
				<string></string>
				<key>code</key>
				<integer>101</integer>
				<key>image</key>
				<string>Icon_Position</string>
			</dict>
			<dict>
				<key>title</key>
				<string>区划</string>
				<key>subtitle</key>
				<string></string>
				<key>code</key>
				<integer>102</integer>
				<key>image</key>
				<string>Icon_District</string>
			</dict>
			<dict>
				<key>title</key>
				<string>地貌</string>
				<key>subtitle</key>
				<string></string>
				<key>code</key>
				<integer>103</integer>
				<key>image</key>
				<string>Icon_Landform</string>
			</dict>
			<dict>
				<key>title</key>
				<string>交通</string>
				<key>subtitle</key>
				<string></string>
				<key>code</key>
				<integer>104</integer>
				<key>image</key>
				<string>Icon_Traffic</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>区县</string>
		<key>subtitle</key>
		<string></string>
		<key>code</key>
		<integer>0</integer>
		<key>image</key>
		<string></string>
		<key>submenu</key>
		<array>
			<dict>
				<key>title</key>
				<string>上城区</string>
				<key>subtitle</key>
				<string></string>
				<key>code</key>
				<integer>201</integer>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>下城区</string>
				<key>subtitle</key>
				<string></string>
				<key>code</key>
				<integer>202</integer>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>江干区</string>
				<key>subtitle</key>
				<string></string>
				<key>code</key>
				<integer>203</integer>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>拱墅区</string>
				<key>subtitle</key>
				<string></string>
				<key>code</key>
				<integer>204</integer>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>西湖区</string>
				<key>subtitle</key>
				<string></string>
				<key>code</key>
				<integer>205</integer>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>滨江区</string>
				<key>subtitle</key>
				<string></string>
				<key>code</key>
				<integer>206</integer>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>萧山区</string>
				<key>subtitle</key>
				<string></string>
				<key>code</key>
				<integer>207</integer>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>余杭区</string>
				<key>subtitle</key>
				<string></string>
				<key>code</key>
				<integer>208</integer>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>建德市</string>
				<key>subtitle</key>
				<string></string>
				<key>code</key>
				<integer>209</integer>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>富阳市</string>
				<key>subtitle</key>
				<string></string>
				<key>code</key>
				<integer>210</integer>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>临安市</string>
				<key>subtitle</key>
				<string></string>
				<key>code</key>
				<integer>211</integer>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>桐庐县</string>
				<key>subtitle</key>
				<string></string>
				<key>code</key>
				<integer>212</integer>
				<key>image</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>淳安县</string>
				<key>subtitle</key>
				<string></string>
				<key>code</key>
				<integer>213</integer>
				<key>image</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>专题</string>
		<key>subtitle</key>
		<string></string>
		<key>code</key>
		<integer>0</integer>
		<key>image</key>
		<string></string>
		<key>submenu</key>
		<array>
			<dict>
				<key>title</key>
				<string>规划</string>
				<key>subtitle</key>
				<string></string>
				<key>code</key>
				<integer>301</integer>
				<key>image</key>
				<string>Icon_Planning</string>
			</dict>
			<dict>
				<key>title</key>
				<string>控规</string>
				<key>subtitle</key>
				<string></string>
				<key>code</key>
				<integer>302</integer>
				<key>image</key>
				<string>Icon_Control</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
